.layer-on-window:has(.view-layer) {
	position: fixed;
	z-index: 2500;
	inset: 0;

	display: grid;
	place-items: center;

	-webkit-backdrop-filter: blur(1.5px);
	backdrop-filter: blur(1.5px);
	background-color: hsl(from var(--color-dahm-background-dark) h s calc(l + 5) / 0.7);

	padding: 2em 2.5em;
}
@media screen and (max-width: 530px) {
	.layer-on-window {
		padding: 1em 1em;
	}
}

.view-layer {
	position: relative;
	max-width: 800px;
	width: 98%;
	max-height: 92svh;
	overflow-y: auto;
	margin: auto auto;
	padding: 1.2em 1.6em;
	border: 1px solid var(--border-color);
	box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
	background-color: var(--color-dahm-background-dark);
	/* box-shadow:
		0 0 3px var(--border-color),
		0 0 8px var(--border-color),
		0 0 14px var(--border-color); */

	/* box-shadow: 1px 1px 1px 0 hsl(from var(--border-color) h s l); */
}

.view-layer .prop-cover-image {
	position: relative;
}
.view-layer .close-button {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.17em;
	line-height: 1;
	margin-left: auto;
	color: var(--color-dahm-bordo-dark);
	user-select: none;
	transition: color 500ms ease-in-out;
}
@media (hover: hover) {
	.view-layer .close-button:hover {
		color: var(--color-dahm-bordo);
	}
}

.view-layer .card-item:last-child {
	margin-bottom: 0;
}
.view-layer .card-item:not(:has(*)) {
	display: none;
}

.view-layer .cover-image-container {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
}

.card-item.category-list p {
	margin-bottom: 0.25em;
	line-height: 1em;
}

.card-item.category-list a {
	display: inline-flex;
	align-items: center;
	column-gap: 0.1em;
	color: var(--color-dahm-bordo-dark);
	font-size: 0.95em;
	font-weight: 500;
}

.view-layer .title {
	color: var(--color-dahm-bordo-dark);
	font-size: 1.03em;
	font-weight: 600;
	line-height: 1.1em;
	text-align: center;
	padding: 0.3em 1em 1em 1em;
}
