---
import '@components/cards/card.css';
import { Icon } from 'astro-icon/components';
import CallbackForm from '@vue/forms/CallbackForm.vue';

import Dahm from '@data/dahm.json';
---

<div class='card-content'>
	<h4>Rufen Sie uns an.</h4>
	<a href={'tel: ' + Dahm.telephone} class='icon-link phone-number'><Icon name='phone-out' />{Dahm.telephone}</a>
	<p class='phone-time'>{Dahm.telephone_zeit}</p>
	<h4>Dürfen wir Sie zurückrufen?</h4>
	<CallbackForm client:load />
</div>
