---
import '@components/cards/card.css';
import { Icon } from 'astro-icon/components';
import MessageForm from '@vue/forms/MessageForm.vue';

import Dahm from '@data/dahm.json';
---

<div class='card-content'>
	<h4>Nehmen Sie Kontakt auf.</h4>
	<a href={'mailto: ' + Dahm.email} class='icon-link'><Icon name='email' />{Dahm.email}</a>
	<MessageForm client:load />
</div>

<style scoped>
	a::before {
		content: 'Per Email';
		color: black;
		font-size: 1rem;
		font-weight: normal;
	}
	a {
		color: var(--color-dahm-bordo);
		margin-bottom: 0.5em;
		font-size: 0.9rem;
		font-weight: 540;
	}
	/* a::after {
		content: ' oder';
		color: black;
	} */
</style>
