---
import '@components/cards/card.css';

import Dahm from '@data/dahm.json';
---

<div class='card-content'>
	<h4>Rufen Sie uns an.</h4>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ipsa blanditiis aperiam eveniet quaerat nobis neque.
		Aperiam velit vel, laudantium incidunt nulla, temporibus, quam blanditiis sed corporis esse quas veniam.
	</p>
</div>
