.card-content h4 {
	color: var(--color-dahm-bordo);
	font-size: 1.15rem;
	font-weight: 450;
	font-variation-settings: 'opsz' 32;
	line-height: 1;
	margin-bottom: 0.5em;
}
.card-content * + h4 {
	margin-top: 1.1em;
}

.card-content svg {
	display: block;
}

.card-content a.icon-link {
	display: flex;
	align-items: center;
	column-gap: 0.5em;
	width: max-content;
	font-size: 0.97rem;
	padding-top: 0.05em;
	/* color: var(--color-dahm-bordo); */
}
.card-content .phone-time {
	font-size: 0.9rem;
	font-weight: 590;
}
