---
import '@components/cards/card.css';
import { Icon } from 'astro-icon/components';
import MessageForm from '@vue/forms/MessageForm.vue';

import Dahm from '@data/dahm.json';
---

<div class='card-content'>
	<h4>Nehmen Sie Kontakt auf.</h4>
	<a href={'mailto: ' + Dahm.email} class='icon-link'><Icon name='email' />{Dahm.email}</a>
	<MessageForm client:load />
</div>
