---
// import Welcome from '../components/Welcome2.astro';
import Layout from '@layouts/Layout.astro';

const title: string = '404';
---

<Layout {title}>
	<p class='big-font'>Diese Seite konnte nicht gefunden werden.</p>
	<p>
		Möglicherweise haben Sie eine falsche oder veraltete URL aufgerufen, oder wir haben die Seite umbenannt oder
		gelöscht.
	</p>
	<p>Vielleicht können Sie den gewünschten Inhalt über unsere Navigation oben finden?</p>
</Layout>

<style scoped>
	p {
		font-size: 1.15em;
		font-weight: 300;
		margin: 1em 0;
	}
	@supports (font-variation-settings: 'wght' 350) {
		p {
			font-weight: 350;
		}
	}
	p.big-font {
		font-size: var(--h1-size);
		font-weight: bold;
		margin: 0;
	}
	p.big-font + p {
		margin-top: 1.25em;
	}
</style>
