header {
	--hover-menu-background-color: rgba(220, 220, 220, 0.45);
	--hover-item-background-color: hsla(45, 2%, 69%);
	--menu-opaque-background-color: hsl(45, 2%, 59%);
	--submenu-background-color: rgba(229, 232, 236);
	--header-font-color: #373737;
	--border-left-thick-active-item: 2px;

	width: 100%;
	max-width: 100vw;
	top: 0;
	z-index: 100;
	position: fixed;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);
	font-size: var(--font-size-header);
	font-weight: 500;
	transition:
		background-color 500ms ease-in-out,
		border-color 500ms ease-in-out,
		border 350ms ease-in-out 150ms;
}
header.opaque {
	background-color: var(--menu-opaque-background-color);
	border-bottom: var(--border-thick) solid var(--border-color);
	--header-font-color: #000000;
	--submenu-background-color: var(--menu-opaque-background-color);
}

@supports (font-variation-settings: 'wght' 540) {
	header {
		font-weight: 540;
	}
}

.nav-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
	align-items: stretch;
	height: 100%;
	color: var(--header-font-color);
	max-width: var(--max-width-page);
	margin: 0 auto;
	padding: 0 var(--padding-x-page);
}

.nav-list > li {
	position: relative;
	min-height: 100%;
	padding: var(--padding-y-nav-item) var(--padding-x-nav-item);
}
.nav-list > li.logo {
	--logo-koeff: 3;
	padding: calc(var(--logo-koeff) * var(--padding-y-nav-item)) var(--padding-x-nav-item);
}
.nav-list > li.item-phonenumber,
.nav-list > li.item-burgermenu {
	padding-right: 0;
}
.nav-list li.item-phonenumber {
	word-wrap: none;
}

.nav-list > li > *:not(ul) {
	display: grid;
	place-items: center;
	height: 100%;
}

.nav-list > li > .active_link {
	text-decoration: 1.5px var(--color-marker) underline;
	text-underline-offset: 0.4em;
	text-decoration-skip-ink: none;
}

.nav-submenu {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: var(--submenu-background-color);
	transform-origin: 0 0;
	transform: scaleY(0);
}
header.loaded .nav-submenu {
	transition:
		transform 500ms ease-in-out 0.1s,
		background-color 500ms ease-in-out 0.1s;
}
header.opaque .nav-submenu {
	border-top: var(--border-thick) solid var(--border-color);
}

.nav-submenu::before {
	content: '';
	position: absolute;
	margin-left: -5px;
	top: -6px;
	left: calc(2.85 * var(--padding-x-nav-item));
	width: 12px;
	height: 12px;
	background: var(--submenu-background-color);
	border: solid var(--border-color);
	border-width: var(--border-thick) var(--border-thick) 0 0;
	clip-path: polygon(0 0%, 100% 100%, 100% 0%);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transition:
		background-color 600ms ease-in-out,
		border 600ms ease-in-out;
}
header:not(.opaque) .nav-submenu::before {
	border-width: 0;
}

.nav-submenu > li > * {
	display: grid;
	place-items: left center;
	padding: 0.5em calc(1.5 * var(--padding-x-nav-item)) 0.5em calc(2 * var(--padding-x-nav-item));
}
.nav-submenu span {
	padding-left: calc(1.1 * var(--padding-x-nav-item) + var(--border-left-thick-active-item));
}
.nav-submenu .active_link span {
	padding-left: calc(1.1 * var(--padding-x-nav-item));
	text-decoration: none;
	border-left: var(--border-left-thick-active-item) solid var(--color-marker);
}

.nav-list li,
.mobile-menu a {
	transition:
		color 500ms ease-out,
		background-color 400ms ease-in-out;
}

.nav-list li.desktop {
	display: none;
}
.nav-list .logo {
	margin: auto 0;
	padding: 0 1em;
}

.nav-list .logo a {
	--logo-height: calc(var(--header-height) - 2 * var(--logo-koeff) * var(--padding-y-nav-item));
	display: block;
	min-width: calc(1.65 * var(--logo-height));
	height: var(--logo-height);
}
.nav-list .h2em {
	min-height: 2.25em;
	min-width: 2.25em;
}
.nav-list .round-border {
	border: 1px solid #3737375d;
	border-radius: 9999px;
	transition: border-color 500ms ease-out;
}
.nav-list .phone-number-text {
	padding: 0.2em 0.5em;
}
.nav-list .item-phonenumber,
.nav-list .item-phoneform {
	margin-left: auto;
}

.nav-list .icon svg {
	width: 2em;
	height: 1.15em;
}

.nav-list .item-burgermenu {
	display: block;
}
.nav-list .item-burgermenu > .round-border {
	padding: 0 0.5em;
}

.mobile-menu-layer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	bottom: 0;
	z-index: 90;
	overflow-y: auto;
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	transform-origin: 0 0;
	transition: transform 0.5s ease-in-out;
}

.mobile-menu {
	--hover-item-background-color: hsla(0, 0%, 69%);
	--menu-background-color: hsla(214, 16%, 91%, 0.55);
	--padding-x-text: 0.6em;
	--border-thick-active-item: 3px;
	--padding-x-left-base: calc(var(--padding-x-page) + var(--padding-x-nav-item));

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: start;
	padding-top: calc(var(--border-thick) + var(--header-height));
	background-color: var(--menu-background-color);
	font-size: var(--font-size-header);
}
.mobile-menu li {
	width: 100%;
}
.mobile-menu li > *:not(ul) {
	display: block;
	padding: calc(2 * var(--padding-y-nav-item)) 0;
	padding-left: var(--padding-x-left-base);
	width: 100%;
}
.mobile-menu span {
	--padding-koeff: 1;
	font-size: 1.4em;
	padding-left: calc(var(--padding-koeff) * var(--padding-x-text) + var(--border-thick-active-item));
}
.mobile-submenu span {
	--padding-koeff: 3;
	font-size: 1.35em;
	font-weight: 400;
}
.mobile-menu .active_link > * {
	border-left: var(--border-thick-active-item) solid var(--color-marker);
}
.mobile-menu .active_link > span {
	padding-left: calc(var(--padding-koeff) * var(--padding-x-text));
}

body:has(.sb-card.phone.open) header .form-btn.phone,
body:has(.sb-card.message.open) header .form-btn.message {
	color: var(--color-dahm-bordo);
	border-color: var(--color-dahm-bordo);
}

.nav-list > li:hover ul,
.nav-list > li:has(*:hover, a:focus-visible) ul {
	/* transition: transform 500ms ease-in-out 0.1s; */
	transform: scaleY(1);
}

/* @media screen and (pointer: fine) { */
@media (hover: hover) {
	header:is(:not(.opaque)):hover {
		background-color: var(--hover-menu-background-color);
	}
	.nav-list li.logo:has(a:hover),
	.nav-list li.item-menu:has(.lev0:hover),
	.nav-submenu li:has(a:hover) {
		color: var(--color-dahm-bordo);
		background-color: var(--hover-item-background-color);
	}

	.nav-list > li:has(.round-border:hover) {
		background-color: transparent;
		color: var(--color-dahm-bordo);
	}
	.nav-list .round-border:hover {
		border-color: var(--color-dahm-bordo);
	}

	.nav-list ul > li:not(:hover) {
		color: var(--header-font-color);
	}
	.mobile-menu a:hover {
		color: var(--color-dahm-bordo);
		background-color: var(--hover-item-background-color);
	}
}

nav a:focus-visible {
	outline: none;
}
nav a:focus-visible .fv,
nav .fv:focus-visible,
nav .fv:has(a:focus-visible),
nav .fv:has(input:focus-visible) {
	outline: 1px solid var(--color-dahm-bordo);
	outline-offset: 0;
}
.nav-list .fv:is(.logo, .item-menu),
.nav-list ul .fv,
.mobile-menu > li .fv {
	outline-offset: -1px;
}

body:not(:has(#burger-button:checked, .mobile-menu-layer:focus-within)) .mobile-menu-layer {
	transform: scaleY(0);
}
body:has(#burger-button:checked) .mobile-menu-layer,
.mobile-menu-layer:focus-visible {
	transform: scaleY(1);
}
body:has(#burger-button:checked) header {
	border-bottom: var(--border-thick) solid var(--border-color);
	background-color: var(--menu-opaque-background-color);
	--header-font-color: #000000;
	--submenu-background-color: var(--menu-opaque-background-color);
}

@media screen and (max-width: 700px) {
	.nav-list .item-phonenumber {
		display: none;
	}
}

@media screen and (min-width: 531px) {
	.nav-list li.desktop {
		display: block;
	}
	.nav-list li.mobile {
		display: none;
	}
	.mobile-menu-layer {
		display: none;
	}
}
@media screen and (max-width: 530px) {
	body {
		--width-hot-button: 0px;
		--height-hot-button: 0px;
	}
}
