---
// import Welcome from '../components/Welcome2.astro';
import Layout from '@layouts/Layout.astro';

// const title: String = '';
---

<Layout>
	<h1>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur temporibus libero sint consectetur repellat
		ex nam ab! Nobis, doloribus culpa id provident, enim dolorum blanditiis sit cupiditate cumque voluptatum aut?
	</h1>
	<h3>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, necessitatibus itaque. Nemo, provident optio
		iste deserunt quia aliquam velit, obcaecati, quos laudantium qui saepe. Quidem est quae autem laudantium illo!
	</h3>
	<h1>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum distinctio neque tenetur totam,
		consequatur nisi similique? Eaque quos amet voluptas provident veniam, impedit laborum, ex libero sint saepe
		obcaecati!
	</h1>
	<h2>
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, velit enim, reprehenderit eligendi rerum minima
		dolorem, ipsum inventore sed ut nemo at aliquid. Alias, tempora? Praesentium incidunt fugit laborum explicabo.
	</h2>
	<h1>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque optio doloribus qui quisquam ullam libero rem
		molestias aliquid quod pariatur eos magnam in, consequuntur quia, aperiam vitae voluptates id sit.
	</h1>
	<!-- <Welcome /> -->
</Layout>
