---
import { Icon } from 'astro-icon/components';
import ObjectsButton from '@vue/Objects/ObjectsButton/ObjectsButton.vue';
import '@styles/list.css';

type TCategory = {
	catName: string;
	catDescriptions: string[];
};
const list: TCategory[] = [
	{
		catName: 'Verkaufsplanung und Beratung',
		catDescriptions: [
			'Bewertung der Immobilie (Marktwertanalyse, Gutachten)',
			'Beratung des Eigentümers zur Preisstrategie',
			'Erstellung eines Verkaufsplans und Zeitrahmens',
		],
	},
	{
		catName: 'Verkaufsunterlagen und Exposé-Erstellung',
		catDescriptions: [
			'Zusammenstellung aller relevanten Objektunterlagen (Grundbuch, Energieausweis, Baupläne etc.)',
			'Erstellung eines professionellen Exposés mit Bildern, Grundrissen und Lagebeschreibung',
		],
	},
	{
		catName: 'Vermarktung der Immobilie',
		catDescriptions: [
			'Auswahl geeigneter Vermarktungskanäle (Online-Portale, Printmedien, Netzwerke)',
			'Veröffentlichung von Anzeigen',
			'Ansprechende Präsentation der Immobilie',
		],
	},
	{
		catName: 'Interessentenmanagement',
		catDescriptions: [
			'Beantwortung von Anfragen',
			'Organisation und Durchführung von Besichtigungen',
			'Prüfung der Bonität potenzieller Käufer',
		],
	},
	{
		catName: 'Verkaufsverhandlung und Kaufabwicklung',
		catDescriptions: [
			'Durchführung von Preisverhandlungen',
			'Abstimmung des Kaufvertrags mit Notar und Käufer',
			'Organisation und Begleitung des Notartermins',
		],
	},
	{
		catName: 'Objektübergabe',
		catDescriptions: [
			'Übergabe der Immobilie nach Kaufvertragsabschluss',
			'Erstellung eines Übergabeprotokolls',
			'Koordination der Übergabe von Schlüsseln und Unterlagen',
		],
	},
	{
		catName: 'Nachbereitung und Dokumentation',
		catDescriptions: [
			'Abschluss der Unterlagenverwaltung',
			'Kommunikation mit Behörden (z. B. Grundbuchamt)',
			'Unterstützung bei steuerlichen Fragen in Zusammenarbeit mit dem Steuerberater des Eigentümers',
		],
	},
];
---

<ul class='card-list'>
	{
		list.map(cat => {
			return (
				<li class='card-item sticker color'>
					<h5>{cat.catName}</h5>
					<ul>
						{cat.catDescriptions.map(descr => {
							return <li>{descr}</li>;
						})}
					</ul>
				</li>
			);
		})
	}
	<li class='card-item sticker color objects secret'>
		<a href='/objekte/'><Icon name='logo2025' class='image-h' /><span>Unsere Objekte</span></a>
	</li>
	<li></li>
	<li></li>
</ul>
<ObjectsButton client:only='vue' type='sale' />
