---
import { Icon } from 'astro-icon/components';
import '@styles/list.css';

type TCategory = {
	catName: string;
	catDescriptions: string[];
};
const list: TCategory[] = [
	{
		catName: 'Technische Verwaltung',
		catDescriptions: [
			'Regelmäßige Objektkontrollen und Wartungen',
			'Organisation und Überwachung von Instandhaltungs- und Reparaturmaßnahmen',
			'Koordination von Dienstleistern und Handwerkern',
			'Sicherstellung der Einhaltung von Sicherheitsvorschriften (z. B. Brandschutz, Aufzugsprüfungen)',
		],
	},
	{
		catName: 'Kaufmännische Verwaltung',
		catDescriptions: [
			'Erstellung von Wirtschaftsplänen und Betriebskostenabrechnungen',
			'Miet- und Nebenkostenabrechnung',
			'Kontrolle der Zahlungseingänge und Mahnwesen',
			'Verwaltung von Mietkautionen',
		],
	},
	{
		catName: 'Vermietung und Mieterbetreuung',
		catDescriptions: [
			'Mietersuche und Abschluss von Mietverträgen',
			'Übergabe und Rücknahme von Mietflächen',
			'Bearbeitung von Mieteranliegen und Beschwerden',
			'Verwaltung von Mieterakten',
		],
	},
	{
		catName: 'Buchhaltung und Controlling',
		catDescriptions: [
			'Führung der Hausbuchhaltung',
			'Erstellung von Einnahmen-/Ausgabenübersichten',
			'Vorbereitung von Unterlagen für Steuerberater und Wirtschaftsprüfer',
		],
	},
	{
		catName: 'Rechtliche Betreuung',
		catDescriptions: [
			'Überwachung der Einhaltung mietrechtlicher Vorschriften',
			'Vertretung des Eigentümers gegenüber Mietern und Behörden',
			'Begleitung von gerichtlichen Verfahren (z. B. bei Mietrückständen)',
		],
	},
	{
		catName: 'Kommunikation und Reporting',
		catDescriptions: [
			'Regelmäßige Berichterstattung an Eigentümer bzw. Investoren',
			'Organisation von Eigentümerversammlungen',
			'Protokollführung und Umsetzung von Beschlüssen',
		],
	},
];

/*
	{
		catName: 'Vermietung und Mieterbetreuung',
		catDescriptions: [
			'Mietersuche und Abschluss von Mietverträgen',
			'Übergabe und Rücknahme von Mietflächen',
			'Bearbeitung von Mieteranliegen und Beschwerden',
			'Verwaltung von Mieterakten',
		],
	},
*/
---

<ul class='card-list'>
	{
		list.map(cat => {
			return (
				<li class='card-item sticker color'>
					<h5>{cat.catName}</h5>
					<ul>
						{cat.catDescriptions.map(descr => {
							return <li>{descr}</li>;
						})}
					</ul>
				</li>
			);
		})
	}
	<li class='card-item sticker color objects'>
		<a href='/objekte/'><Icon name='logo2025' class='image-h' /><span>Unsere Objekte</span></a>
	</li>
	<li></li>
	<li></li>
</ul>
