---
import { Icon } from 'astro-icon/components';
import ObjectsButton from '@vue/Objects/ObjectsButton/ObjectsButton.vue';
import '@styles/list.css';

type TCategory = {
	catName: string;
	catDescriptions: string[];
};
const list: TCategory[] = [
	{
		catName: 'Vermarktung der Immobilie',
		catDescriptions: [
			'Erstellung von Exposés und Inseraten (online/offline)',
			'Auswahl geeigneter Werbekanäle',
			'Organisation und Durchführung von Besichtigungen',
		],
	},
	{
		catName: 'Mieterauswahl und Vertragsabschluss',
		catDescriptions: [
			'Prüfung von Mietinteressenten (Bonität, Unterlagen)',
			'Auswahl geeigneter Mieter',
			'Erstellung und Abschluss von Mietverträgen',
		],
	},
	{
		catName: 'Mietmanagement',
		catDescriptions: [
			'Übergabe der Immobilie an den Mieter (inkl. Protokoll)',
			'Laufende Betreuung des Mietverhältnisses',
			'Bearbeitung von Anliegen, Störungen und Beschwerden',
		],
	},
	{
		catName: 'Mietinkasso und Abrechnung',
		catDescriptions: [
			'Kontrolle der Zahlungseingänge',
			'Mahnwesen bei Mietrückständen',
			'Erstellung der jährlichen Nebenkostenabrechnungen',
		],
	},
	{
		catName: 'Instandhaltung und Objektbetreuung',
		catDescriptions: [
			'Organisation von Reparaturen und Wartungsarbeiten',
			'Kontrolle des Objektzustands',
			'Beauftragung und Überwachung von Handwerkern',
		],
	},
	{
		catName: 'Vertragsbeendigung und Neuvermietung',
		catDescriptions: [
			'Abnahme der Mietsache bei Auszug',
			'Prüfung auf Schäden und Kautionsabrechnung',
			'Wiederaufnahme der Vermarktung bei Leerstand',
		],
	},
	{
		catName: 'Rechtliche Betreuung',
		catDescriptions: [
			'Einhaltung mietrechtlicher Vorschriften',
			'Durchführung von Mieterhöhungen oder Kündigungen',
			'Vertretung gegenüber Behörden oder bei rechtlichen Auseinandersetzungen',
		],
	},
];

/*
	{
		catName: 'Vermietung und Mieterbetreuung',
		catDescriptions: [
			'Mietersuche und Abschluss von Mietverträgen',
			'Übergabe und Rücknahme von Mietflächen',
			'Bearbeitung von Mieteranliegen und Beschwerden',
			'Verwaltung von Mieterakten',
		],
	},
*/
---

<ul class='card-list'>
	{
		list.map(cat => {
			return (
				<li class='card-item sticker color'>
					<h5>{cat.catName}</h5>
					<ul>
						{cat.catDescriptions.map(descr => {
							return <li>{descr}</li>;
						})}
					</ul>
				</li>
			);
		})
	}
	<li class='card-item sticker color objects secret'>
		<a href='/objekte/'><Icon name='logo2025' class='image-h' /><span>Unsere Objekte</span></a>
	</li>
	<li></li>
	<li></li>
</ul>
<ObjectsButton client:only='vue' type='rent' />
