---
import '@styles/init.css';
import '@styles/dahm.css';

import Head from '@components/head/Head.astro';

const { title, description, seo, robots } = Astro.props;
---

<!doctype html>
<html lang='de'>
	<Head {title} {description} {seo} {robots} />
	<body>
		<div class='main-content-wrapper'>
			<div class='main-content'>
				<slot />
			</div>
		</div>
	</body>
</html>

<style>
	.main-content-wrapper {
		display: grid;
		place-items: center;
		width: 100%;
		height: 100%;
	}
	.main-content {
		position: relative;
		width: 100%;
		max-width: var(--max-width-page);
		height: 100%;
		margin: 0 auto;
		padding: 1em 1.5em;
	}
</style>
