---
import History from '@components/History.astro';
import Vorteile from '@components/Vorteile.astro';
---

<article class='homepage'>
	<p class='text-block v1'>Herzlich willkommen bei der Dahm Immobilien Verwaltung GmbH</p>
	<p class='text-block v2'>Herzlich willkommen bei der Dahm Immobilien Verwaltung GmbH</p>
	<p class='text-block'>
		Herzlich willkommen bei der Dahm Immobilien Verwaltung GmbH – Ihrem zuverlässigen Partner seit 1991, geführt von
		Herrn Michael Dahm. Als kleine, private Hausverwaltung legen wir besonderen Wert auf persönliche Betreuung und
		maßgeschneiderte Lösungen, um sowohl Eigentümer als auch Mieter bestmöglich zu unterstützen.
	</p>
	<p class='text-block'>
		Unser umfassendes Leistungsspektrum deckt alle wichtigen Bereiche ab, von der Verwaltung Ihrer Immobilie incl.
		WEG-Verwaltung bis hin zum Kauf oder Verkauf von Immobilien. Unser Ziel ist es, eine angenehme und harmonische
		Atmosphäre zu schaffen, in der sich alle wohlfühlen. Vertrauen Sie auf unsere Erfahrung und unser Engagement – wir
		freuen uns darauf, Sie persönlich zu betreuen!
	</p>
	<History />
	<p class='text-block'>
		Die Haupttätigkeit des Unternehmens bleibt die Immobilienverwaltung (Industrieobjekte, Mehrfamilienhäuser, Gewerbe
		und Mehrfamilienhäuser, WEG-Mehrfamilienhäuser). Bei der Vermietung oder Veräußerung von Gebäuden, Räumlichkeiten
		oder Wohnungen in verwalteten Immobilien stehen wir Ihnen gerne für die Suche nach Mietern/Käufern zur Verfügung und
		begleiten die Abwicklung.
	</p>
	<p class='text-block'>Unsere Aktivitäten basieren auf folgenden Grundsätzen:</p>
	<Vorteile />
	<p class='text-block final'>Planen Sie eine Immobilie professionell verwalten zu lassen?</p>
	<p class='text-block final'>
		Wir freuen uns darauf, Sie kennenzulernen und Ihnen bei Ihrem Anliegen zur Seite zu stehen.
	</p>
</article>

<style>
	.homepage > p {
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: calc(var(--font-size) * 1.05);
	}

	.homepage > p.final {
		/* font-size: calc(var(--font-size) * 1.1); */
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 1em;
	}
	@supports (font-variation-settings: 'wght' 460) {
		.homepage > p.final {
			font-weight: 460;
		}
	}

	.text-block.v1 {
		font-variation-settings: 'opsz' 1;
	}
	.text-block.v2 {
		font-variation-settings: 'opsz' 3;
	}
</style>
