---
import History from '@components/History.astro';
---

<article class='profile'>
	<p class='text-block mt0'>
		Seit 1991 ist unser kleines Unternehmen unter der Leitung von Herrn Michael Dam auf dem Immobilienmarkt tätig, wobei
		wir uns auf die Verwaltung von Immobilien und den Aufbau enger, vertrauensvoller Beziehungen zu unseren Partnern
		konzentrieren.
	</p>
	<p class='text-block'>
		Aus der langjährigen Zusammenarbeit ergibt sich für uns die Notwendigkeit, das Leistungsspektrum zu erweitern, um
		den Bedürfnissen unserer Partner am Immobilienmarkt noch besser gerecht zu werden. Aus diesem Grund wurde die Firma
		Dahm Immobilien unter der Leitung von Michael Dahm und Norbert Reiche gegründet.
	</p>
	<History />
	<p class='text-block'>
		Die Umfirmierung hat keinerlei Auswirkungen auf unsere Geschäftsbeziehungen. Die Geschäftspartner können weiterhin
		auf unsere gewohnte Zuverlässigkeit, Qualität und Serviceleistungen zählen. Unser Team bleibt unverändert und steht
		Ihnen wie gewohnt zur Verfügung.
	</p>
</article>

<style>
	.profile > p {
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: calc(var(--font-size) * 1.05);
	}
</style>
