---
import ListVermietung from '@components/ListVermietung.astro';
---

<article class='rental'>
	<p class='text-block mt0'>
		Bei der Vermietung von Gebäuden, Räumlichkeiten oder Wohnungen in verwalteten Immobilien stehen wir Ihnen gerne für
		die Suche nach Mietern zur Verfügung und begleiten die Abwicklung.
	</p>
	<p class='text-block'>
		Über die Verfügbarkeit von Immobilien zur Miete können Sie sich per E-Mail oder telefonisch informieren.
	</p>
	<ListVermietung />
</article>

<style>
	.rental > p {
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: calc(var(--font-size) * 1.05);
	}

	.rental .final {
		font-weight: 500;
		margin-top: 0;
	}
</style>
